
<form (ngSubmit)="OnSubmit()">
  <div class="card mb-2">
    <input type="text" name="answerInput" id="answer" #answerInput>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Отправить ответ</button>

</form>

<ng-template *ngIf="answer.answerName">
  <p appIsTrue>{{ answer.answerName }}</p>
</ng-template>



