<div class="card mb-2 p-2">
  <div class="row align-items-center">
    <div class="col">{{ question.questionName }}</div>
  </div>
</div>
<button type="submit" class="btn btn-success" (click)="showHelp = !showHelp">Подсказка</button>
<ng-container *ngIf="showHelp">
  <p>{{question.help }}</p>
</ng-container>









